name: Sync to Hugging Face Space
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sync-wide:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Push to Hugging Face Space
      env:
        project2: ${{ secrets.project2 }}
      run: |
        git remote add hf https://$project2@huggingface.co/spaces/mohdsamad83/my_llm_quiz_solver_p2
        git push hf main --force
